/* Your code goes here */
.container {
  display: flex;
  height: 300px;
  width: 500px;
  border: 1px solid #fff;

  /* flex-direction: row */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: space-around; */
  justify-content: start;
  /* align-items: stretch; */
  /* align-items: start; */
  /* align-items: end; */
  /* align-items: center; */
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  flex-flow: row wrap;
  align-content: space-around;
}

/* .container div:nth-child(2) {
  font-size: 50px;
} */
