/* Your code goes here */
.container {
  display: flex;
  /* flex-direction: row */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  flex-direction: row-reverse;
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: space-around; */
  justify-content: space-between;
}
