/* Your code goes here */
.container {
  display: flex;
  width: 800px;
  border: 1px solid #fff;

  /* flex-direction: row */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: space-around; */
  /* justify-content: start; */
  /* align-items: stretch; */
  /* align-items: start; */
  /* align-items: end; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  flex-flow: row nowrap;
  /* align-content: space-around; */
}

.container div {
  margin: 0;
  width: 100px;
  flex-grow: 1;
}

.container div:nth-child(2) {
  flex-grow: 2;
}

.container div:nth-child(5) {
}
